body
{
    margin: 0;
    padding: 0;
    background-color: white;
}


.avatar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper
{
    min-height: 100vh;
    background-color: black;
}

.img
{
    margin-top: 300px;
    width: 100px;
    border-radius: 100%;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    padding: 10px 2px;
    margin: 10px 720px;
    border-radius: 10px;
}

.button-fb
{
    text-decoration: none;
}

.text
{
    color: black;
    font-size: 17px;
}
